// base 
body 
    width 100%
    margin: auto
    padding 20px

header
    flex(, space-between);
    align-items: center
    max-width: 100%
    margin:0  auto
    padding 25px 10px

    & > div
        flex-grow: 1
    
    & > nav
        flex-grow: 4

title 
    text-transform: uppercase

.block
    width 90%
    border 1px solid #000

div 
    width 100%