.header_block__left
    position relative
    flex();
    
    &__menu 
        margin-right: 12px
          
        &::after
            position: relative
            font-family: "fontello"
            content:"\e800"
            vertical-align: center
            width: 25px
            height: 25px
            left: 0px
            bottom: 0
    &__logo
        text-transform: uppercase
        font-size: 1.5em
        color red
  