.header_block__menu 

    ul
        flex()
        gap 20px 20px

        li
            position relative
            margin-right: 25px

            &::after
                position absolute
                font-family: "fontello"
                content: "\e80c";
                max-width: 100%;
                right: -18px
                font-size: .7em
                top: 2px

                


            

