// base 
body 
    width width_header
    margin: auto
    padding 20px

header
    flex(, space-between);
    align-items: center
    max-width: 100%
    margin: 25px auto
    padding 25px 10px

    & > div
        flex-grow: 1
    
    & > nav
        flex-grow: 4
        
.header_block__left
    flex();
    
    &__logo
        text-transform: uppercase
        font-size: 1.5em
        color red
        
.header_block__menu 

    ul
        flex()
        gap 20px 20px

.header_block__right

    ul
        flex()
        gap 0 10px
         
        li
            width 50px

            img 
                max-width 100%



