 @import "base/normalize.styl";
 @import "base/variables.styl";
 @import "mixins/flex.styl";

 @import "parts/head/*.styl";
 @import "parts/header/*.styl";
 @import "parts/main/*/*.styl";
//  @import "parts/footer/*.styl";

//  @import "parts/slide.styl";