// colors = {
//   clred: red,
  

// }

// variable size 
extra_large_end = 1200px 
extra_large = 960px 
large = 800px
midle_end = 720px
midle = 640px
small_end = 400px
small = 320px

// .button
//   color var(--primary-color)
//   background-color var(--secondary-color)

// .card
//   border 1px solid var(--primary-color)
//   color var(--secondary-color)